 body{
  font-family: 'Roboto', sans-serif;
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span{
  cursor: pointer;
}

h1{
  background: #76b852;
  color:white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  background: #fff;
  height: 40px;
  line-height: 40px;
  color: black;
}

input{
  font-size: 18px;
  background-color: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  color: #666;
  border: 3px solid rgba(0, 0, 0, 0);
}

input:focus{
  background: #fff;
  border: 3px solid #76b852;
  outline: none;
}

li:nth-child(2n){
  background: #f7f7f7;
}

#container{
  box-shadow: 0 0 3px rgba(0,0,0, 0.8);
  width: 360px;
  margin: 100px auto;
  background: #f7f7f7;
}

.completed{
  color:red;
  text-decoration: line-through;
}

.fa-sign-out-alt{
  float: right;
}

span{
  background-color: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: #fff;
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}


 li:hover span{
width: 40px;
opacity: 1.0;
}
