<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Todo List</title>
      <link rel="stylesheet" type="text/css" href="/assets/css/todos.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
     <script type="text/javascript" src="/assets/js/lib/jquery-3.3.1.min.js"></script>
  </head>
  <body>

    <div id="container">
        <h1>To-Do List <i class="fas fa-sign-out-alt"></i></h1>
        <input type="text" placeholder="Add New Todo">
        <ul>
          <% todos.forEach(function (todo) { %>
              <%if (todo.isChecked) { %>
                 <li class="completed" id="<%= todo._id %>"><span id="<%= todo._id %>"><i class="fa fa-trash-alt"></i></span><%= todo.text %></li>
              <%} else { %>
                 <li id="<%= todo._id %>"><span id="<%= todo._id %>"><i class="fa fa-trash-alt"></i></span><%= todo.text %></li>
              <%}%>
          <% }); %>
        </ul>
    </div>

    <script type="text/javascript" src="/assets/js/todos.js"></script>
  </body>
</html>
